apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: jenkins-persistent
    template: jenkins-persistent-template
{% if ocp_project_label is defined %}
    project: {{ ocp_project_label }}
{% endif %}
  name: jenkins
  namespace: builder
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  selector:
    matchLabels:
      pv=build-pipeline-jenkins
