apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.name }}
{% if item.mount_options is defined %}
  annotations:
      volume.beta.kubernetes.io/mount-options: {{ item.mount_options }}
{% else %}
{% if nfs_default_mount_options is defined %}
  annotations:
      volume.beta.kubernetes.io/mount-options: {{ nfs_default_mount_options }}
{% endif %}
{% endif %}
  labels:
    pv: {{ item.name }}
{% if ocp_project_label is defined %}
    project: {{ ocp_project_label }}
{% endif %}
spec:
  capacity:
{% if item.size is defined %}
    storage: {{ item.size }}
{% else %}
    storage: {{ nfs_default_size }}
{% endif %}
  accessModes:
{% if item.access_mode is defined %}
{% for mode in item.access_mode %}
  - {{ mode }}
{% endfor %}
{% else %}
{% if nfs_default_access_mode is defined %}
{% for mode in nfs_default_access_mode %}
  - {{ mode }}
{% endfor %}
{% endif %}
{% endif %}
  nfs:
{% if item.base is defined %}
    path: {{ item.base }}/{{ item.name }}
{% else %}
    path: {{ nfs_default_base }}/{{ item.name }}
{% endif %}
    server: {{ groups['nfs-server'][0] }}
{% if item.reclaim_policy is defined %}
  persistentVolumeReclaimPolicy: {{ item.reclaim_policy }}
{% else %}
  persistentVolumeReclaimPolicy: {{ nfs_default_reclaim_policy }}
{% endif %}
{% if item.storage_class is defined %}
  storageClassName: {{ item.storage_class }}
{% else %}
{% if nfs_default_storage_class is defined %}
  storageClassName: {{ nfs_default_storage_class }}
{% endif %}
{% endif %}