---
- name: Prepare NFS shares
  hosts: nfs-server
  gather_facts: no
  become: true
  become_user: root

  roles:
    - ocp-nfs-mount

- name: Create a build OCP pipeline project
  hosts: controlhost
  gather_facts: no
  become: no

  roles:
    - ocp-nfs-mount
    - ocp-project
    - git
    - jenkins
    - nexus

#  - postgresql
#  - nexus
#  - jenkins
#  - sonarcube
#  - mediawiki
#  - wordpress
