<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2014 Kaiserpfalz EDV-Service, Roland T. Lichti
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd

                           http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <jpa:repositories base-package="de.kaiserpfalzEdv.office.tenants.query"/>
    <context:component-scan base-package="de.kaiserpfalzEdv.office.tenants.query">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>


    <context:annotation-config/>
    <tx:annotation-driven mode="proxy" transaction-manager="transactionManager"/>

    <context:load-time-weaver weaver-class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
    <context:property-placeholder properties-ref="configuration" system-properties-mode="OVERRIDE"
                                  ignore-resource-not-found="false" ignore-unresolvable="false" local-override="true"/>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="dbInitializer" class="liquibase.integration.spring.SpringLiquibase" lazy-init="false" scope="singleton">
        <property name="changeLog" value="classpath:/ddl/db-changelog.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="dropFirst" value="${dropDatabase}"/>
        <property name="shouldRun" value="${initializeDatabase}"/>
    </bean>

    <bean id="entityManager" factory-bean="entityManagerFactory" factory-method="createEntityManager"
          destroy-method="close" scope="request"/>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="loadTimeWeaver" ref="loadTimeWeaver"/>
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="${databaseType}"/>
                <property name="showSql" value="${showSql}"/>
                <property name="generateDdl" value="${generateDdl}"/>
                <property name="databasePlatform" value="${databasePlatform}"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <bean factory-bean="jpaPropertiesGenerator" factory-method="getProperties" lazy-init="true"/>
        </property>
    </bean>
    <bean id="jpaPropertiesGenerator" class="de.kaiserpfalzEdv.commons.jndi.MapProperties">
        <constructor-arg>
            <util:map scope="singleton" key-type="java.lang.String" value-type="java.lang.Object">
                <entry key="hibernate.show_sql" value="false"/>
                <entry key="hibernate.format_sql" value="true"/>
                <entry key="hibernate.use_sql_comments" value="true"/>
                <entry key="hibernate.generate_statistics" value="false"/>
                <entry key="hibernate.cache.use_second_level_cache" value="${databaseCache}"/>
                <entry key="hibernate.cache.use_query_cache" value="${databaseCache}"/>
                <entry key="hibernate.cache.region.factory_class"
                       value="org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory"/>
                <entry key="net.sf.ehcache.configurationResourceName" value="META-INF/database-cache.xml"/>
            </util:map>
        </constructor-arg>
    </bean>


    <bean id="configuration" factory-bean="configGenerator" factory-method="getProperties" lazy-init="true"/>
    <bean id="configGenerator" class="de.kaiserpfalzEdv.commons.jndi.MapProperties" init-method="init"
          destroy-method="close">
        <constructor-arg>
            <util:map scope="singleton" key-type="java.lang.String" value-type="java.lang.Object">
                <entry key="databaseType">
                    <jee:jndi-lookup jndi-name="databaseType" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="databasePlatform">
                    <jee:jndi-lookup jndi-name="databasePlatform" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="showSql">
                    <jee:jndi-lookup jndi-name="showSql" default-value="false" expected-type="java.lang.String"
                                     cache="true" lookup-on-startup="true"/>
                </entry>
                <entry key="generateDdl">
                    <jee:jndi-lookup jndi-name="generateDdl" default-value="false" expected-type="java.lang.String"
                                     cache="true" lookup-on-startup="true"/>
                </entry>
                <entry key="dropDatabase">
                    <jee:jndi-lookup jndi-name="dropDatabase" default-value="false" expected-type="java.lang.String"
                                     cache="true" lookup-on-startup="true"/>
                </entry>
                <entry key="initializeDatabase">
                    <jee:jndi-lookup jndi-name="initializeDatabase" default-value="false"
                                     expected-type="java.lang.String" cache="true" lookup-on-startup="true"/>
                </entry>
                <entry key="databaseCache">
                    <jee:jndi-lookup jndi-name="databaseCache" default-value="false" expected-type="java.lang.String"
                                     cache="true" lookup-on-startup="true"/>
                </entry>

                <entry key="host">
                    <jee:jndi-lookup jndi-name="host" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="host-id">
                    <jee:jndi-lookup jndi-name="host-id" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>

                <entry key="amqp.domain">
                    <jee:jndi-lookup jndi-name="amqp.domain" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="amqp.host">
                    <jee:jndi-lookup jndi-name="amqp.host" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="amqp.port">
                    <jee:jndi-lookup jndi-name="amqp.port" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="amqp.virtual">
                    <jee:jndi-lookup jndi-name="amqp.virtual" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="amqp.user">
                    <jee:jndi-lookup jndi-name="amqp.user" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
                <entry key="amqp.password">
                    <jee:jndi-lookup jndi-name="amqp.password" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
            </util:map>
        </constructor-arg>
    </bean>


    <jee:jndi-lookup id="dataSource" jndi-name="db/kpotenant" lazy-init="true" expected-type="javax.sql.DataSource"
                     cache="true"/>
    <!--
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
            <property name="driverClassName"    value="org.h2.Driver" />
            <property name="url"                value="${h2.url}" />
            <property name="username"           value="${h2.user}" />
            <property name="password"           value="${h2.password}" />
            <property name="initialSize"        value="5" />
            <property name="maxActive"          value="10" />
        </bean>
    -->


    <!-- Infrastructure -->
    <rabbit:connection-factory id="amqp.cf" host="${amqp.host}" port="${amqp.port}" virtual-host="${amqp.virtual}"
                               username="${amqp.user}" password="${amqp.password}"/>
    <rabbit:admin id="amqp.adm" connection-factory="amqp.cf" auto-startup="true" ignore-declaration-exceptions="false"/>


    <util:list id="rabbitAdvices" value-type="org.aopalliance.aop.Advice">
        <bean class="de.kaiserpfalzEdv.commons.interceptors.LoggingInterceptor"/>
    </util:list>

    <!-- Sender -->
    <rabbit:template id="amqp.tenant.notification" exchange="${amqp.domain}.office.tenants.notification"
                     connection-factory="amqp.cf" message-converter="amqp.msg-converter"/>
    <rabbit:template id="amqp.tenant.query" exchange="${amqp.domain}.office.tenants.query" connection-factory="amqp.cf"
                     message-converter="amqp.msg-converter"/>


    <!-- Message Handler -->
    <bean id="tenantQueryHandler" class="de.kaiserpfalzEdv.office.tenants.query.QueryMessageHandlerImpl"/>
    <rabbit:listener-container connection-factory="amqp.cf" acknowledge="manual" message-converter="amqp.msg-converter"
                               advice-chain="rabbitAdvices">
        <rabbit:listener queues="kpo.tenants.notification.writer" ref="tenantQueryHandler" method="handle"/>
        <rabbit:listener queues="kpo.tenants.query" ref="tenantQueryHandler" method="handle"/>
    </rabbit:listener-container>


    <!-- Change Notification Configuration -->
    <rabbit:queue id="kpo.tenants.notification.writer" name="${amqp.domain}.office.tenants.notification.writer.${host}"
                  durable="true">
        <rabbit:queue-arguments>
            <entry key="x-dead-letter-exchange" value="de.kaiserpfalz-edv.office.dlq"/>
            <entry key="x-dead-letter-routing-key" value="tenants.notification.${host}"/>
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:topic-exchange id="kpo.tenants.notification" name="${amqp.domain}.office.tenants.notification">
        <rabbit:exchange-arguments>
            <entry key="alternate-exchange" value="de.kaiserpfalz-edv.office.dlq"/>
            <entry key="durable" value="true"/>
        </rabbit:exchange-arguments>

        <rabbit:bindings>
            <rabbit:binding pattern="#" queue="${amqp.domain}.office.tenants.notification.writer.${host}"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <!-- Query Configuration -->
    <rabbit:topic-exchange id="kpo.tenants.query" name="${amqp.domain}.office.tenants.query" durable="false">
        <rabbit:bindings>
            <rabbit:binding pattern="#" queue="${amqp.domain}.office.tenants.query.reader"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <rabbit:queue id="kpo.tenants.query" name="${amqp.domain}.office.tenants.query.reader" durable="false">
        <rabbit:queue-arguments>
            <entry key="x-dead-letter-exchange" value="de.kaiserpfalz-edv.office.dlq"/>
            <entry key="x-dead-letter-routing-key" value="tenants.query"/>
        </rabbit:queue-arguments>
    </rabbit:queue>

    <bean id="amqp.msg-converter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter">
        <property name="jsonObjectMapper">
            <bean class="de.kaiserpfalzEdv.commons.json.Jackson2ObjectMapper"/>
        </property>
    </bean>
</beans>