---
- name: Check for admin
  shell: oc get group {{ item }}
  register: existing_groups
  ignore_errors: yes
  with_items:
    - "{{ ocp_project_admin_group }}"
    - "{{ ocp_project_user_group }}"
    - "{{ ocp_project_ro_group }}"

- name: Fail for not existing group
  fail: msg="The group '{{ item.item }}' does not exist!"
  when: item.rc != 0
  with_items: "{{ existing_groups.results }}"


- name: Check for labels
  shell: oc get group -l "project={{ ocp_project_label }}"
  register: existing_labels
  ignore_errors: yes

- name: Label all groups with project label
  shell: oc label group/{{ item.item }} project={{ ocp_project_label }}
  with_items:
    - "{{ ocp_project_admin_group }}"
    - "{{ ocp_project_user_group }}"
    - "{{ ocp_project_ro_group }}"
  when: existing_labels.stdout.find("{{ item }}") == -1