<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2015 Kaiserpfalz EDV-Service, Roland T. Lichti
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       ">

    <context:component-scan base-package="de.kaiserpfalzEdv.office.contacts.geodb">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

    <jpa:repositories base-package="de.kaiserpfalzEdv.office.contacts.geodb"/>


    <context:annotation-config/>
    <tx:annotation-driven mode="proxy"/>

    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>


    <import resource="classpath*:/beans-database.xml"/>
    <import resource="classpath*:/beans-cache.xml"/>


    <context:property-placeholder properties-ref="configuration" system-properties-mode="OVERRIDE"
                                  ignore-resource-not-found="false" ignore-unresolvable="false" local-override="true"/>

    <bean id="configuration" factory-bean="configGenerator" factory-method="getProperties" lazy-init="false"/>
    <bean id="configGenerator" class="de.kaiserpfalzEdv.commons.jee.jndi.MapProperties" init-method="init"
          destroy-method="close">
        <constructor-arg>
            <util:map scope="singleton" key-type="java.lang.String" value-type="java.lang.Object">
                <entry key="host">
                    <jee:jndi-lookup jndi-name="host" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>

                <entry key="host-id">
                    <jee:jndi-lookup jndi-name="host-id" expected-type="java.lang.String" cache="true"
                                     lookup-on-startup="true"/>
                </entry>
            </util:map>
        </constructor-arg>
    </bean>
</beans>